{% extends 'main/base.html' %}

{% block BMF%}
About  us
{% endblock %}

{% block content %}
   <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">About us</h1>
       <p class="fs-5 text-body-secondary"></p>
       <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Main page</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Manliaza Karim</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>AIN-2-23</li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
       <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Authorization</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Mamadaliev Erlanbek</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>AIN-2-23</li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
       <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Users main page</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Junusov Aazam</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>AIN-2-23</li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
